﻿<html>
    <head>
        <title> Ремонт - это просто! </title>
    </head>
    <body>

        </div>
        <br>
        <div>
            {% if user.is_authenticated %}Привет, {{ user.username }}

            <a href={% url 'logout' %}>Выход</a>
                <br>
                <br>
            <a href='make_order/'>Заказать</a>
            {% endif %}
            {% if not user.is_authenticated %}
            <a href={% url 'login' %}>Вход</a>
            {% endif %}
        </div>
    </body>
</html>
