
<!DOCTYPE html>
<html>
  <head>
    <title>Вход</title>
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}

      {{ form.as_p }}
      <button type="submit">Войти</button>
    </form>
  </body>
</html>